$primary-color: #121212;

$font-family-main: "neue-haas-grotesk-display", sans-serif;
$font-family-second: "neue-haas-grotesk-text", sans-serif;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// convert pixel to rems, better for WCAG
@use "sass:math";
@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'only numbers';
  }
}
